<div *ngIf="name">
  <h1>{{ name }}, {{ country }}</h1>

  <!--<select [(ngModel)]="selectedDay">-->
    <!--<option *ngFor="let d of days" [ngValue]="c">{{ d }}</option>-->
  <!--</select>-->

  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Temp.</th>
      <th>Wind</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of weather">
      <td>{{ item.date }}</td>
      <td>{{ item.temp }}°C</td>
      <td>{{ item.wind }} m/s</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="mapbox">
    <iframe width="320"
            height="320"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            [src]="openstreetmapUrl" style="border: 1px solid #ddd"></iframe>
  </div>
</div>

<div *ngIf="!name">Loading...</div>
