* {
  font-size: 13px;
}

input {
  border: solid 1px #bbb;
  outline: none;
  width: 100%;
  margin: 5px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  width: 100%;
  border: solid 1px #ddd;
  border-bottom: none;
  padding: 1px;
  cursor: pointer;
  background: #fff;

  a {
    text-decoration: none;
    color: #000;
  }

  .badge {
    display: block;
    float: right;
    width: 15px;
    height: 15px;
    background: #ddd;
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #f00;
    }
  }

  &:last-child {
    border-bottom: solid 1px #eee;
  }

  &:hover {
    background: #eee;
  }
}

.search {
  position: absolute;
}
