<input [(ngModel)]="city" (keyup)="onKey($event)" placeholder="Moscow">
<ul class="search">
  <li *ngFor="let item of list" (click)="onSelect(item)">{{ item.name }}, {{ item.sys.country }}</li>
</ul>
<div *ngIf="cities.length">
  <span>Saved cities:</span>
  <ul class="selected">
    <li *ngFor="let item of cities; let i = index">
      <a routerLink="/city/{{ i }}">
        {{ item.name }}, {{ item.country }} | {{ item.temp }}°C, {{ item.speed }} m/s
        <span class="badge" (click)="remove(i)">X</span>
      </a>
    </li>
  </ul>
</div>
